
.node {
    width: 30px;
    height: 30px;
    outline: 1px solid #4e4e50;
    display: inline-block;
    background-color: var(--slate-800);
    text-align: center;
    span {
        color : var(--slate-50);
    }
}
.sorted {
    background-color: var(--blue-500);
}

.comparing {
    background-color: var(--red-500);
}

.swapping {
    background-color: var(--green-500);
}

.pivot {
    background-color: var(--yellow-500);
}

.partitioning {
    background-color: var(--purple-500);
}

.merging {
    background-color: var(--pink-500);
}

.auxiliary {
    background-color: var(--gray-500);
}

.main {
    background-color: var(--slate-800);
}

.start {
    background-color: var(--green-500);
}

.end {
    background-color: var(--red-500);
}

.middle {
    background-color: var(--yellow-500);
}

