.node {
  width: 30px;
  height: 30px;
  outline: 1px solid #4e4e50;
  display: inline-block;
}

.nodeFinish {
  background-color: red;
}

.nodeStart {
  background-color: green;
}

.nodeVisited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.nodeWall {
  background-color: #c3073f;
}
